.wrapper {
    position: relative;
    transition: 0.3s;
    max-width: 400px;
    width: 100%;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: white;
    border-right: 1px solid #202020;
}

.current-user-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 20px 0 20px;
    word-break: break-all;
    text-align: center;
}

.current-user-avatar {
    border-radius: 50%;
}

.current-user-name {
    margin-top: 20px;
    font-weight: bold;
}

.current-user-email {
    color: #ccc;
}

.settings-wrapper {
    text-align: center;
    margin: 20px 0;
}

.settings-link {
    display: inline-block;
    border: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: #202020;
    cursor: pointer;
    transition: 0.1s;
}

.settings-link:hover,
.settings-link-active {
    background-color: #303030;
}

.toggle {
    display: none;
    background-color: inherit;
    border: none;
    color: whitesmoke;
    font-size: 40px;
    position: fixed;
    padding: 0;
    top: 15px;
    left: 15px;
    cursor: pointer;
    z-index: 4;
    transition: 0.1s;
}

.toggle:hover {
    background-color: inherit;
    color: #ccc;
}

@media (max-width: 1500px) {
    .wrapper {
        left: -400px;
        position: fixed;
        z-index: 3;
        min-height: 100vh;
    }
    .toggle {
        display: block;
    }
    .open {
        left: 0;
    }
}
