.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    gap: 40px;
    flex: 1;
}

.timestamp {
    text-align: center;
    color: #ccc;
    font-size: 12px;
    font-weight: bold;
}

.no-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 20px;
    padding: 0 10px;
    font-weight: bold;
    word-break: break-word;
}

@media (max-height: 550px) {
    .container {
        overflow-y: inherit;
        position: relative;
    }
}
