.form {
    border-top: 1px solid #222528;
    display: flex;
    align-items: center;
}

.input {
    flex: 1;
    border: none;
    padding: 35px;
    background-color: inherit;
    border-top-left-radius: 25px;
    font-weight: 500;
    color: whitesmoke;
    border-bottom-left-radius: 25px;
}

.input:focus {
    outline: none;
}
