.container {
    border-top: 1px solid #222528;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    flex-wrap: wrap;
}

.prompt-button {
    padding: 5px;
    border-radius: 5px;
    background-color: inherit;
    font-size: 30px;
    flex-shrink: 0;
}

.prompt-button:disabled {
    background-color: inherit;
}

.form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.input {
    flex: 1;
    border: none;
    padding: 30px;
    background-color: inherit;
    border-top-left-radius: 25px;
    font-weight: 500;
    color: whitesmoke;
    border-bottom-left-radius: 25px;
}

.input:focus {
    outline: none;
}

.prompt-loading {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
