.container {
    position: relative;
    flex-shrink: 0;
}

.marker {
    border-radius: 50%;
    background-color: #2ecc71;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #000000;
}
